body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

button {
  flex: 1;
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 0;
}

.operator {
  flex: 1 1 auto;
}

.calculator-container,
.num-container {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.operator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.calculator-container {
  width: 30%;
  max-height: 60%;
  background-color: grey;
  padding: 5px;
  border-radius: 10px;
}

.row-one,
.row-two,
.row-three,
.row-four{
  display: flex;
  justify-content: space-evenly;
  flex: 2 1 auto;
}

.row-four {
  justify-content: stretch;
}

.input-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.display-container {
  background-color: white;
  overflow: scroll;
  margin: 10px 0;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 50px;
}
